body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f5f5f5;
  }
  
  header {
    text-align: center;
    /* background: #4CAF50; */
    color: white;
    padding: 2rem 1rem;
    background-image: url('/images/wall.png');
  }
  
  header .profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
  }
  
  header h1 {
    font-size: 2.5rem;
    margin: 0;
  }
  
  h1 {
    transition: all 0.3s ease;
  }

  h1:hover {
    color: black; 
    transform: scale(1.1); 
  }

  img {
    /* width: 100px; */
    transition: transform 0.3s ease, opacity 0.3s ease; 
    animation: rotate 5s linear infinite;

  }

  img:hover {
    transform: scale(1.2); 
    opacity: 0.8; 
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  


  main {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  section {
    margin-bottom: 2rem;
  }
  
  section h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: lightbrown;
    border-bottom: 2px solid lightbrown;
    display: inline-block;
  }
  
  section ul {
    list-style-type: none;
    padding: 0;
  }
  
  section ul li {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  section ul li:hover {
    background: #f1f1f1;
  }
  
  a {
    text-decoration: none;
    color: brown;
    font-weight: bold;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  
  footer {
    text-align: center;
    background: brown;
    color: white;
    padding: 1rem;
    margin-top: 2rem;
    font-size: 0.9rem;
  }
  
  @media (max-width: 768px) {
    header .profile-pic {
      width: 120px;
      height: 120px;
    }
  }