* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(https://cdn.pixabay.com/photo/2022/09/21/17/02/blue-background-7470781_1280.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: #4343ff;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 2rem;
    font-weight: bold;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 2rem;
    flex-grow: 1;
}

h1 {
    padding: 3rem;
}

main div {
    width: 300px;
    height: 300px;
    margin: 1rem;
    background: linear-gradient(109.5deg, rgb(13, 11, 136) 9.4%, rgb(86, 255, 248) 78.4%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

main a {
    text-decoration: none;
    color: white;
}

p {
    font-size: 2rem;
}

.footer-content {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #4343ff;
    color: white;
    text-align: center;
    padding: 10px;
}

footer a{
    text-decoration: none;
    color: black;
}

.fa-brands{
padding: 1em;
}