* {
    height: 100vh;
    overflow: hidden;
}






body {
    background: url(https://cdn.pixabay.com/photo/2022/09/21/17/02/blue-background-7470781_1280.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}


main {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 2rem;
}



main div {
    width: 300px;
    height: 300px;
    margin: 1rem;


    background-color: black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    border-radius: 10px;
}

main a{
    text-decoration: none;
    color: white;
}